body {
    background-color: lightgrey;
}
.text {
    color: grey;
}
.outline {
    outline: black solid 3px;
}

#mainTitle {
    font-size: 50px;
    text-align: center;
}

/*Nav*/
#topbar {
    height: 50px;
    width: 800px;
    margin-top: 20px;
    padding-top: 10px;
    background-color: seagreen;
    flex: 1;
    border-radius: 5px;
}

#topbar ul li {
    display: inline-block;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

#topbar ul li a {
    list-style-image: none;
    user-select: contain;
}

.center {
    text-align: center;
}

.glow {
    text-align: center;
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px rgb(240, 227, 227), 0 0 10px rgb(224, 222, 222), 0 0 15px #b9b8b8, 0 0 20px #817d7d, 0 0 25px #413e3e, 0 0 30px #2a2828, 0 0 35px #000000;
    }

    to {
        text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(24, 23, 23), 0 0 15px #292929, 0 0 20px #474545, 0 0 25px #757272, 0 0 30px #a3a1a1, 0 0 35px #ddd9d9;
    }
}